

a:link {
  color: grey;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: grey ;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: black;
  background-color: #ffffff;
  text-decoration: underline;
  border-radius: 3px;
  background: linear-gradient(225deg, #e8ebee, #ffffff);
  box-shadow:  -25px 25px 50px #595a5b,
             25px -25px 50px #ffffff;
}

a:active {
  color: rgba(125,193,235,255);
  background-color: transparent;
  text-decoration: underline;
}

.card{
  border-radius: 5px;
  background: #ffffff;
  box-shadow:  9px 9px 27px #a8a8a8,
              -9px -9px 27px #ffffff;
}

.btn{
 border-radius: 3px;
  background: #ffffff;
  box-shadow:  7px -7px 33px #e0e0e0,
             -7px 7px 33px #ffffff;
}

#FAQS
{
  display:flex;
  justify-content: center;
  
}
