body{
  font-family: Inter,sans-serif;
    letter-spacing: -.035em;
    color: #000;
}



h2{
  opacity: 0.9;
  font-size: 2.5em;
  font-weight: bold;
  color: #003049;
}

a:link {
  color: #edfafd;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #edfafd
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color:#edfafd;
}

a:active {
  color: #edfafd;
  background-color: transparent;
  text-decoration: underline;
}

.card{
  border-radius: 7px;
background: #ffffff;
box-shadow:  -6px -6px 12px #eeedee,
             6px 6px 12px #f8f7f8;
}

.btn{
 width:30%;
 border-radius: 5px;
  color:#edfafd;
}

#FAQS
{
  display:flex;
  justify-content: center;
}

.resources-main-container{
  display:flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start
}


.resources-container{
  display:flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start

}

#hackathon-title{
  font-size: 80px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}



 @media (max-width: 576px) { 
  #mlh-trust-div{
    
   opacity:0;
   display:none;
 }
}

 #registration-div{
    font-family: Inter,sans-serif;
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    padding-top: 60px;
    letter-spacing: -.035em;
    color: #000;
    background: #f3f2f3;
    border-radius: 0px;
background: #edfafd;
box-shadow:  -6px -6px 12px #eeedee,
             6px 6px 12px #f8f7f8;
    
 }