body{
  background: linear-gradient(to top right, #eeeeee -1%, #ffffff 100%);
}

a:link {
  color: grey;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: grey ;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: rgb(189, 189, 250);
  text-decoration: underline;
  border-radius: 5px;
  box-shadow:  9px 9px 27px #a8a8a8,
              -9px -9px 27px #ffffff;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

.card{
  border-radius: 5px;
  background: #ffffff;
  box-shadow:  9px 9px 27px #a8a8a8,
              -9px -9px 27px #ffffff;
}